@model IEnumerable<DAL.Models.Event>

@{
   ViewData["Title"] = "List";
}

<h1 class="text-center">Les Evenements : </h1>

<table class="table">
   <thead>
      <tr>
         <th>
            Evenement
         </th>
         <th>
            Commence le
         </th>
         <th>
            Termine le
         </th>
         <th>
            Pays
         </th>
         <th>
            Adresse
         </th>
         <th>
            Status
         </th>
      </tr>
   </thead>
   <tbody>
      @foreach (var item in Model)
      {
         <tr>

            <td>
               @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               @item.StartDate.ToString("d")
            </td>
            <td>
               @item.EndDate.ToString("d")
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
               <span class="badge rounded-pill  text-bg-primary">@Html.DisplayFor(modelItem => item.Status)</span>
            </td>

         </tr>
         <tr>
            <th>Themes: </th>
            @{
               int i = 1;
               foreach (var et in item.TypeByDays)
               {
                  <td>Jour @i: <span>@et.Type.Name</span></td>
                  i++;
               }
            }
         </tr>
      }
   </tbody>
</table>
